*{
    margin: 0;
    padding: 0;
}

#programmer img{
    width: auto;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.enemy{
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 40%;
    left: 0;
}

.enemy{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:move;
}