*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#points{
    font-family: 'Montserrat', sans-serif;
}

#pointDiv{
    margin-top: 10vh;
    font-size: 2em;
    text-align: center;
    color: rgba(35, 180, 199, 1);
}

#programmer{
    width: 120px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 45.5vw;
}


#leftEnemy{
    width: 100px;
    height: 100px;
    background-color: rgb(31, 154, 170);
    color: white;
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightEnemy{
    width: 100px;
    height: 100px;
    background-color: rgb(31, 154, 170);
    color: white;
    position: absolute;
    top: 40%;
    left: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enemy{
    cursor:move;
}